<html>

<body>
<a href="混合架构.html" style="text-decoration:none" target="content">
个人信息
</a>
<a href="科学研究2.html" style="text-decoration:none"  target="content">
科学研究
</a>
<a href="论文专著2.html" style="text-decoration:none"  target="content">
论文专著
</a>
<a href="日程安排.html" style="text-decoration:none"  target="content">
日程安排
</a>
<a href="查看预约.html" style="text-decoration:none"  target="content">
查看预约
</a>
<a href="修改密码.html" style="text-decoration:none"  target="content">
修改密码
</a>
<a href="退出登录.html" style="text-decoration:none"  target="content">
退出登录
</a>
</body>
</html>
