<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>本科生导师互选系统</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Le styles -->
  <link href="http://cs-mentor.qiniudn.com/css/bootstrap.css" rel="stylesheet">
  <link href="http://cs-mentor.qiniudn.com/css/todc-bootstrap.css" rel="stylesheet">
  <link href="http://cs-mentor.qiniudn.com/css/sticky-footer.css" rel="stylesheet">
  <style type="text/css">

  </style>
     


  <script type="text/javascript" async="" src="./media/50614"></script><script src="./media/jquery.min.js"></script>
  <script src="./media/bootstrap.min.js"></script>

</head>
         
  <body   >

<div id="wrap">

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
        <a class="navbar-brand" href="/teacher/"><strong>本科生预约导师系统</strong></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav">
      <li class=""><a href="/teacher/">个人信息</a></li>
    <li class=""><a href="/teacher1/">科学研究</a></li>
	 <li class=""> <a href="/teacher2/">论文专著</a></li>

    <li class=""><a href="/jiancha/">查看预约</a></li>
	<li class=""><a href="/changepassword/">修改密码</a></li>
	<li class=""><a href="/cha/">修改行程</a></li>
  </ul>
  <p class="navbar-text pull-right"> {{loginuser.Name}}您好！
 <a href="/logout/" class="navbar-link">退出登录</a></p>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="http://mentor.sinaapp.com/student/info#"></a></li>
  </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<body   >
<div class="container">

<div class="row">

  <div class="">
    <h2>修改工作经历<small>&nbsp;</small></h2>
    <hr>
  </div>

  <form class="form-horizontal" role="form" method="post" action="">
          {% csrf_token %}




    <div class="form-group">
      <label for="inputEmail6" class="col-sm-2 control-label">工作时间</label>
      <div class="col-sm-10">
        <textarea row="4"  value="" name="time" class="form-control" id="inputEmail6" placeholder="">{{work.time}}</textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail6" class="col-sm-2 control-label">工作经历</label>
      <div class="col-sm-10">
        <textarea row="4"   value="" name="worklife" class="form-control" id="inputEmail6" placeholder="">{{work.worktravel}}</textarea>
      </div>
    </div>

    <hr>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">

        <button type="submit" class="btn btn-primary">提交修改</button>
      </div>
      </div>
    </form></div>
  

</div>



</body>
</html>