<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>本科生预约导师系统</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Le styles -->
  <link href="http://cs-mentor.qiniudn.com/css/bootstrap.css" rel="stylesheet">
  <link href="http://cs-mentor.qiniudn.com/css/todc-bootstrap.css" rel="stylesheet">
  <link href="http://cs-mentor.qiniudn.com/css/sticky-footer.css" rel="stylesheet">
  <style type="text/css">

  </style>
     


  <script type="text/javascript" async="" src="./media/50614"></script><script src="./media/jquery.min.js"></script>
  <script src="./media/bootstrap.min.js"></script>

</head>
         
<body>

<div id="wrap">

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
        <a class="navbar-brand" href="/studentchangepassword/"><strong>本科生预约导师系统</strong></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav">
         <li class=""><a href="/studentchangepassword/">个人信息</a></li>
    <li class=""><a href="/search/?id={{user.Username}}&classid=aa&a=bb">教师检索</a></li>
	 <li class=""> <a href="/recommend/?id={{user.Username}}&classid = aa">教师推荐</a></li>

    <li class=""><a href="/xsck/">查看预约</a></li>

  </ul>
  <p class="navbar-text pull-right"> {{user.Name}}您好！
 <a href="/logout/" class="navbar-link">退出登录</a></p>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="http://mentor.sinaapp.com/student/info#"></a></li>
  </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<style type="text/css">

</style>

<script type="text/javascript">
  $(function(){

  })
</script>

<div class="container">

<div class="row">

  <div class="">
    <h2>教师检索<small>&nbsp;</small></h2>
    <hr>
  </div>

  <form class="form-horizontal" role="form" method="post" action = "">
          {% csrf_token %}


    <div class="form-group">
      <label for="inputEmail9" class="col-sm-2 control-label">输入导师姓名</label>
      <div class="col-sm-10">
        <input type="text" name="search" class="form-control" id="inputEmail9" placeholder="姓名" >
      </div>
    </div>
    <hr>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">

        <button type="submit" class="btn btn-primary">检索</button>
      </div>
      </div>
    </form></div>
  

</div>

</div>

</body></html>
