<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Login Form</title>
  <link rel="stylesheet" href="/site_media/css/style.css">

</head>
<body>
<script> 
function check_name(str)
			{
				if(str==null || str=='')
				{
					alert("不可为空！");
				}
			}
 </script>
  <section class="container">
    <div class="login">
      <h1>密码不一致，请重新注册！！</h1>
      <form method="post" >
        {% csrf_token %}
        <p><input type="text" name="Username" value="" placeholder="用户名" onblur="check_name(this.value);"/></p>
        <p><input type="password"   name="Password" value="" placeholder="密码" onblur="check_name(this.value);"></p>
        <p><input type="password"   name="againpassword" value="" placeholder="确认密码" onblur="check_name(this.value);"></p>
        <p><input type="text" name="name"  value="" placeholder="真实姓名" onblur="check_name(this.value);"></p>
        <p><input type="text" name="phone" value="" placeholder="联系电话" onblur="check_name(this.value);"></p>
        <p><input type="text" name="question" value="" placeholder="找回密码的问题" onblur="check_name(this.value);"></p>
        <p><input type="text" name="answer" value="" placeholder="找回密码的答案" onblur="check_name(this.value);"></p>
        <p><select name="L" >
        <option >student</option>
        <option >teacher</option></p>
        <br />
        <p class="submit"><input type="submit" name="commit" value="注册"></p>
      </form>
    </div>

  
  </section>
<div style="text-align:center;">

</div>
</body>
</html>
