<html>
  <head>
    <title>填写信息</title>
</head>
  <body align="center" background="/site_media/02.gif"  >
    <p><h1>用户功能</h1></p>
    <a href="http://127.0.0.1:8000/teacher/?id={{user.Username}}">个人信息</a>
   <a href="http://127.0.0.1:8000/teacher1/?id={{user.Username}}">科学研究</a>
   <a href="http://127.0.0.1:8000/teacher2/?id={{user.Username}}">论文专著</a>
   <a href="http://127.0.0.1:8000/cha/?id={{user.Username}}">修改行程</a>
       <a href="http://127.0.0.1:8000/jiancha/?id={{user.Name}}">查看预约</a>
   <a href="http://127.0.0.1:8000/changepassword/?id={{user.Username}}">修改密码</a>
   <a href="/logout/">退出登录</a>


  </body>
</html>

