<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>本科生预约导师系统</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Le styles -->
  <link href="http://cs-mentor.qiniudn.com/css/bootstrap.css" rel="stylesheet">
  <link href="http://cs-mentor.qiniudn.com/css/todc-bootstrap.css" rel="stylesheet">
  <link href="http://cs-mentor.qiniudn.com/css/sticky-footer.css" rel="stylesheet">
  <style type="text/css">

  </style>
     


  <script type="text/javascript" async="" src="./media/50614"></script><script src="./media/jquery.min.js"></script>
  <script src="./media/bootstrap.min.js"></script>

</head>
         
<body>

<div id="wrap">

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
        <a class="navbar-brand" href="/studentchangepassword/"><strong>本科生预约导师系统</strong></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav">
         <li class=""><a href="/studentchangepassword/">个人信息</a></li>
    <li class=""><a href="/search/?id={{user.Username}}&classid=aa&a=bb">教师检索</a></li>
	 <li class=""> <a href="/recommend/?id={{user.Username}}&classid = aa">教师推荐</a></li>

    <li class=""><a href="/xsck/">查看预约</a></li>

  </ul>
  <p class="navbar-text pull-right"> {{user.Name}}您好！
 <a href="/logout/" class="navbar-link">退出登录</a></p>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="http://mentor.sinaapp.com/student/info#"></a></li>
  </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<script>
    function check(f){
        var reg = /^(\d{4})-(\d{2})-(\d{2})$/;  

        var regExp=/^\d+(\.\d+)?$/;
        var elementTxt=f.price.value;
        if(f.price.value != '' && !regExp.test (elementTxt))
        {
            alert("价格请输入数字!");  
            return false;
        }
    }
</script>  
   
<div class="container">

<div class="row">
  <div class="">
    <h2>预约情况<small>&nbsp;</small></h2>
    <hr>
  </div>



<form method="post" action = "/xsck/"  onsubmit="return check(this)">
   {% csrf_token %}
<table border=1 align="center" background="/media/Images/formback.jpg">
 <tr>
 


  <tr><td>审核状态<select name="state" value=>
  <option value="全部">全部</option>
  <option value="未审核">未审核</option>
  <option value="同意">同意</option>
  <option value="拒绝">拒绝</option>
  </td></tr>

  <tr><td><input type="submit" name="search" value="搜索"> <input type="reset" value="重填"></td></tr>
 </tr>
</table>
</form>
<script language=javascript>
function disselectAll(){
var a = document.getElementsByTagName("input");
for(var i = 0;i<a.length;i++){
if(a[i].type == "checkbox") a[i].checked = false;
}
}

function selectAll(){
var a = document.getElementsByTagName("input");
for(var i = 0;i<a.length;i++){
if(a[i].type == "checkbox") a[i].checked = true;
}
}
</script>

<form action = "/xsck/"  method="post">
   {% csrf_token %}
<table border=1 align="center" background="/media/Images/formback.jpg">
 <tr>
  <th>选择<input type="button" name="chk" onclick="selectAll()" value="全选"/>
<input type="button" name="chk" onclick="disselectAll()" value="全不选"/></th>
<th>学生用户名</th><th>学生姓名</th><th>预约导师</th><th>预约日期</th><th>预约地点</th><th>学生电话</th><th>审核状态</th><th>忙碌状态</th><th>删除</th>
 </tr>

 
 {% for order in orderlist %}
  <tr>
     <td><input type="checkbox" name="chk" value={{order.count}}></td>
   <td>{{ order.orderusername}}</td>
   <td>{{ order.xingming}}</td>
  <td>{{ order.daoshi }}</td>

  <td>{{ order.week}}周星期{{ order.day}}时间{{ order.time}}</td>
  <td>{{ order.where}}</td>
  <td>{{ order.telephone}}</td>
  <td>{{ order.shenghe}}</td>

  <td>{{order.biaoji}}</td>
   <td><a href="/xsck/?a={{order.orderusername}}&count={{order.count}}">删除</a>
</td>
 </tr>
 {% endfor %}
<tr><td><input type="submit" name="delete" value="选中的删除"> </td></tr>

</table>
</form>
</div>

</div>
</body> 
</html>