<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>本科生预约导师系统</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Le styles -->
  <link href="http://cs-mentor.qiniudn.com/css/bootstrap.css" rel="stylesheet">
  <link href="http://cs-mentor.qiniudn.com/css/todc-bootstrap.css" rel="stylesheet">
  <link href="http://cs-mentor.qiniudn.com/css/sticky-footer.css" rel="stylesheet">
  <style type="text/css">

  </style>
     


  <script type="text/javascript" async="" src="./media/50614"></script><script src="./media/jquery.min.js"></script>
  <script src="./media/bootstrap.min.js"></script>

</head>
         
<body  align="center" >

<div id="wrap">

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
        <a class="navbar-brand" href="/studentchangepassword/"><strong>本科生预约导师系统</strong></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav">
         <li class=""> <a href="/search/?id={{user.Username}}&classid=1&a=bb ">{{user.Name}}基本信息</a></li>
    <li class=""><a href="/search/?id={{user.Username}}&classid=2&a=bb ">{{user.Name}}科学研究</a></li>
	 <li class=""> <a href="/search/?id={{user.Username}}&classid=3&a=bb ">{{user.Name}}论文专著</a></li>

    <li class=""> <a href="/search/?id={{user.Username}}&classid=4&a=bb ">{{user.Name}}行程</a></li>

  </ul>
  <p class="navbar-text pull-right"> {{loginuser.Name}}您好！
 <a href="/logout/" class="navbar-link">退出登录</a></p>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="http://mentor.sinaapp.com/student/info#"></a></li>
  </ul>
  </div><!-- /.navbar-collapse -->
</nav>


<style type="text/css">



</style>

</head>


<form  method="post">

   {% csrf_token %}
  <fieldset>
    <legend>基本信息</legend>
    本人姓名：
<input type="text" name="name" value="{{user.Name}}" readonly="readonly" >
<br />


学院院系：
<input type="text" name="college" value="{{user.college}}" readonly="readonly" >
<br />
从事领域：
<input type="text" name="study" value="{{user.Study}}" readonly="readonly" >
<br />
联系方式：
<input type="text" name="phone" value="{{user.Phone}}" readonly="readonly" >
<br />

电子邮箱：
<input type="text" name="email" value="{{user.Email}}" readonly="readonly" >
<br />
办公地点：
<input type="text" name="workroom" value="{{user.Workroom}}" readonly="readonly" >
<br />


  </fieldset>



  <fieldset>
    <legend>教育经历</legend>

<textarea  name="teach"  type="text"  cols="185" rows="10"  readonly="readonly" >
{{user.teachlive}}
</textarea>
<br />

  </fieldset>



  <fieldset>
    <legend>工作经历</legend>
    <table border="1"  bgcolor="white">
<tr>
  <th>时间</th>
  <th >工作经历</th>
</tr>

{% for work in work_list %}
 <tr>
   <td><textarea  cols="20" rows="1" readonly="readonly">{{ work.time }}</textarea></td>
   <td><textarea  cols="130" rows="1" readonly="readonly">{{ work.worktravel }}</textarea></td>

 </tr>
{% endfor %}
  </fieldset>
</form>
</body>
</html>