<html>
<head>

<style type="text/css">

body {background-color: white}
h4 {background-color: #00ff00}
h2 {background-color: transparent}
p {background-color: rgb(250,0,255)}

p.no2 {background-color: gray; padding: 20px;}

</style>

</head>

<body   background="/site_media/02.gif">
    <a href="/teacher/">个人信息</a>
   <a href="/teacher1/">科学研究</a>
   <a href="/teacher2/">论文专著</a>
   <a href="/cha/">修改行程</a>
       <a href="/jiancha/">查看预约</a>
   <a href="/changepassword/">修改密码</a>
   <a href="/logout/">退出登录</a>

<h4>基本信息</h4>
<hr />
<form  method="post">

   {% csrf_token %}
  <fieldset>
    <legend>基本信息</legend>
    本人姓名：
<input type="text" name="name" value="{{user.Name}}">
<br />


学院院系：
<input type="text" name="college" value="{{user.college}}">
<br />
从事领域：
<input type="text" name="study" value="{{user.Study}}">
<br />
联系方式：
<input type="text" name="phone" value="{{user.Phone}}">
<br />

电子邮箱：
<input type="text" name="email" value="{{user.Email}}">
<br />
办公地点：
<input type="text" name="workroom" value="{{user.Workroom}}">
<br />
男：
<input type="radio" checked="checked" name="Sex" value="male" />
女：
<input type="radio" name="Sex" value="female" />
<br />

<input type="submit" value="修改"> <input type="reset" value="重填">
  </fieldset>
<h4>教育经历</h4>
<hr />



  <fieldset>
    <legend>教育经历</legend>

<textarea  name="teach"  type="text"  cols="185" rows="10">
{{user.teachlive}}
</textarea>
<br />

<input type="submit" value="修改"> <input type="reset" value="重填">
  </fieldset>
<h4>工作经历</h4>
<hr />



  <fieldset>
    <legend>工作经历</legend>
    <table border="1"  bgcolor="white">
<tr>
  <th>时间</th>
  <th >工作经历</th>
</tr>
<tr>
  <td><textarea name="time"  type="text"  cols="20" rows="1"></textarea></td>
  <td><textarea name ="worklife"  type="text"  cols="100" rows="1"></textarea></td>
  <td><input type="submit" value="添加"></td>
</tr>
{% for work in work_list %}
 <tr>
  <td>{{ work.time }}</td>
  <td>{{ work.worktravel }}</td>
  <td><a href="/workchange/?index={{work.count}}">修改</a>
   <a href="/workdelete/?index={{work.count}}">删除</a></td>
 </tr>
{% endfor %}
  </fieldset>
</form>
</body>
</html>